/** {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
  } */
  body{
    background-color: black;
  }
  .nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.726);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
  }
  
  .nav-list {
    display: flex;
    margin-right: 2rem;
  }
  
  @media (max-width: 28.75em) {
    .nav {
      justify-content: center;
    }
  
    .nav-list {
      margin: 0 1rem;
    }
  }
  
  .nav-list a {
    display: block;
    font-size: 1.5rem;
    font-family: 'Gemunu Libre', sans-serif;
    padding: 2rem;
    color: black;
    text-decoration: none;
    
  }
  
  .nav-list a:hover {
    background: rgb(0, 0, 0);
    border-radius: 10px;
    width: 40%;
    color: white;
    
  }
  ul{
      list-style: none;
  }
  #my_brand{
    font-family: 'Sedgwick Ave Display', cursive;
    display: flex;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 1rem;
    text-align: center;
    text-decoration: none;
    color: black;
   
  }
  #my_brand h1:hover{
    background-color: white;
    border-radius: 10px;
    width: 100%;
    
  }
  .welcome-section {
      font-size: 2rem;
    font-family: 'Sedgwick Ave Display', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: white;
    background-color: rgb(0, 0, 0);
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  }
  
  .welcome-section > p {
    font-size: 3rem;
    font-weight: 200;
    font-family: 'Gemunu Libre', sans-serif;
    color: white;
  }
  #wohIam {
    text-align: center;
    font-size: 80%;
    margin:40px;
  }
  .proyects-section-header{
    font-family: 'Gemunu Libre', sans-serif;
    color: white;
    padding-top: 1.5em;

  }
 
  #projects{
    text-align: center;
    background-color: #1C0C5B;
    
  }
  .project-containers{
    margin-top: 0px;
    display: inline-block;
    border: 1px solid black;
    height: 500px;
    width: 40%;
    padding: 1em;
    margin: 4%  1% auto;
    align-items: center;
    background-color: #155665;
    border-radius: 20px;
  }
  img{
    width: 100%;
    border-radius: 10px;
  }
  h3{
    font-family: 'Gemunu Libre', sans-serif;
    color: white;
    margin: 0 auto  ;

  }
  .project-containers a{
    text-decoration: none;
    


  }
  .project-containers a:hover{
    background-color: black;
    border-radius: 10px;
    width: 40%;
    color: white;
  }

  .contact-section {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: var(--main-gray);
  }
  
  .contact-section-header > h2 {
    color: white;
    font-size: 6rem;
  }
  
  @media (max-width: 28.75em) {
    .contact-section-header > h2 {
      font-size: 4rem;
    }
  }
  
  .contact-section-header > p {
    font-style: italic;
    font-size: 100%;
    color: white;
  }
  
  .contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
  }
  
  .contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
    text-decoration: none;
    color: white;
    padding: 20px;
  }
  
  .contact-details:hover {
    transform: translateY(8px);
  }
  
